Repository jotpalch/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-quick, pytest-coverage, npm-lint, npm-test

pytest-quick:
  name: Quick Python Tests
  entry: bash -c 'cd backend && python -m pytest -m "smoke" -v --tb=short'
  language: system
  pass_filenames: false

pytest-coverage:
  name: Python Test Coverage
  entry: bash -c 'cd backend && python -m pytest --cov=app --cov-fail-under=90 --cov-report=term-missing:skip-covered -x'
  language: system
  pass_filenames: false
  stages:
  - push

npm-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

npm-test:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm test -- --watchAll=false --passWithNoTests'
  language: system
  pass_filenames: false
  stages:
  - push

Add PhD scholarship category migration for scholarship types
  backend/alembic/versions/202407030002_populate_phd_category.py
Due: pytest-quick, pytest-coverage

Fix DATABASE_URL configuration in CI workflow
  .github/workflows/ci.yml
Due: none

Add scholarship categories endpoint and related schemas
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/scholarship_categories.py
  backend/app/schemas/__init__.py
  backend/app/schemas/scholarship.py
  backend/app/schemas/scholarship_category.py
Due: pytest-quick, pytest-coverage

Add combined scholarship support with MOST and MOE doctoral types
  backend/alembic/versions/add_application_scholarship_ids.py
  backend/alembic/versions/add_scholarship_category_subtype.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/core/init_combined_scholarships.py
  backend/app/models/application.py
  backend/app/models/scholarship.py
  backend/app/schemas/scholarship.py
  backend/app/services/scholarship_service.py
  backend/app/tests/test_combined_scholarship.py
  docs/combined-scholarship-guide.md
  frontend/components/combined-scholarship-form.tsx
  frontend/lib/api.ts
  frontend/types/scholarship.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

Add scholarship categories and related API methods and hooks
  frontend/hooks/useScholarshipCategories.ts
  frontend/lib/api.ts
Due: npm-lint, npm-test

Add scholarship category filtering and related state management
  frontend/components/enhanced-student-portal.tsx
Due: npm-lint, npm-test

Enhance scholarship application flow with category and sub-type selection
  frontend/components/enhanced-student-portal.tsx
  frontend/hooks/useScholarshipCategories.test.tsx
Due: npm-lint, npm-test

Add TypeScript types for testing and Jest configuration
  frontend/package.json
  frontend/tsconfig.json
Due: none

Add scholarship category and sub-type architecture with E2E tests
  docs/category-subtype.md
  frontend/e2e/scholarship-category-flow.spec.ts
  frontend/package.json
Due: npm-lint, npm-test

Update TypeScript type dependencies to latest versions
  frontend/package-lock.json
  frontend/package.json
Due: none

Add scholarship category selection with frontend hook and testing strategy
  docs/category-subtype.md
  frontend/types/lucide-react.d.ts
Due: npm-lint, npm-test

Update TypeScript dependencies and configuration types
  frontend/package.json
  frontend/tsconfig.json
Due: none

Update TypeScript type dependencies to specific versions
  frontend/package.json
Due: none

Fix DATABASE_URL configuration in test workflow
  .github/workflows/test-coverage.yml
Due: none

Add combined doctoral scholarship with MOST and MOE sub-scholarships
  backend/app/core/init_db.py
Due: pytest-quick, pytest-coverage

Update test coverage workflow to run all tests instead of only unit tests
  .github/workflows/test-coverage.yml
Due: none

Fix CI workflow and e2e setup, update Jest config mappings
  .github/workflows/test-coverage.yml
  frontend/e2e-setup.js
  frontend/jest.config.standalone.js
Due: npm-lint, npm-test

Update test workflow and Jest setup for improved testing configuration
  .github/workflows/test-coverage.yml
  frontend/jest.setup.ts
Due: npm-lint, npm-test

Update workflow, Jest config, and add TypeScript ignore comments
  .github/workflows/test-coverage.yml
  frontend/jest.config.standalone.js
  frontend/jest.setup.ts
Due: npm-lint, npm-test

Improve test setup and configuration with minor workflow and import updates
  .github/workflows/test-coverage.yml
  backend/app/db/session.py
  frontend/jest.config.standalone.js
  frontend/jest.setup.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

Checkpoint before follow-up message
  .github/workflows/test-coverage.yml
Due: none

fix: update scholarship category to use enum value in createTestScholarships function
  backend/app/core/init_db.py
Due: pytest-quick, pytest-coverage

Fix MinIO workflow and add safe header logging in API client
  .github/workflows/test-coverage.yml
  frontend/lib/api.ts
Due: npm-lint, npm-test

Modify test configuration to support SQLite and improve module resolution
  .github/workflows/test-coverage.yml
  backend/app/core/config.py
  frontend/jest.config.standalone.js
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

Implement standardized API response and enhance scholarship application validation
  backend/app/api/v1/endpoints/applications.py
  backend/app/services/application_service.py
  backend/app/utils/response.py
Due: pytest-quick, pytest-coverage

Fix circular import in session module by lazy loading get_db
  backend/app/db/session.py
Due: pytest-quick, pytest-coverage

Standardize API responses with ApiResponse wrapper across application endpoints
  backend/app/api/v1/endpoints/applications.py
Due: pytest-quick, pytest-coverage

Add aiosqlite dependency to development requirements
  backend/requirements-dev.txt
Due: none

Refactor database engine configuration with dynamic connection pooling
  backend/app/db/base.py
Due: pytest-quick, pytest-coverage

Remove ApiResponse schema from common.py and import from response module
  backend/app/schemas/common.py
Due: pytest-quick, pytest-coverage

Refactor auth endpoints to use standardized API response utility
  backend/app/api/v1/endpoints/auth.py
Due: pytest-quick, pytest-coverage

Refactor user endpoints to use standardized API response format
  backend/app/api/v1/endpoints/users.py
Due: pytest-quick, pytest-coverage

Standardize scholarship endpoint responses with ApiResponse wrapper
  backend/app/api/v1/endpoints/scholarships.py
Due: pytest-quick, pytest-coverage

Refactor user endpoints to use api_response and add response models
  backend/app/api/v1/endpoints/users.py
Due: pytest-quick, pytest-coverage

Refactor admin announcement endpoints with improved response handling
  backend/app/api/v1/endpoints/admin.py
Due: pytest-quick, pytest-coverage

chore: update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: update backend dependencies
  backend/requirements.txt
Due: none

feat: update scholarship application fields and enhance student portal
  backend/app/core/init_db.py
  frontend/components/dynamic-application-form.tsx
  frontend/components/enhanced-student-portal.tsx
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat: implement NYCU OAuth integration for SSO login
  backend/app/api/v1/endpoints/auth.py
  backend/app/core/config.py
  backend/app/services/nycu_oauth_service.py
  frontend/app/sso-redirect/page.tsx
  frontend/components/sso-login-page.tsx
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

Path conditions:
  pytest-quick: any of: ^backend/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  pytest-coverage: any of: ^backend/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  npm-lint: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  npm-test: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
