Repository jotpalch/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-quick, pytest-coverage, npm-lint, npm-test

pytest-quick:
  name: Quick Python Tests
  entry: bash -c 'cd backend && python -m pytest -m "smoke" -v --tb=short'
  language: system
  pass_filenames: false

pytest-coverage:
  name: Python Test Coverage
  entry: bash -c 'cd backend && python -m pytest --cov=app --cov-fail-under=90 --cov-report=term-missing:skip-covered -x'
  language: system
  pass_filenames: false
  stages:
  - push

npm-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

npm-test:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm test -- --watchAll=false --passWithNoTests'
  language: system
  pass_filenames: false
  stages:
  - push

chore: update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: update backend dependencies
  backend/requirements.txt
Due: none

fix: correct event listener to use sync_engine instead of async_engine.sync_engine
  backend/app/db/session.py
Due: pytest-quick, pytest-coverage

fix: remove trailing slashes from all API routes for consistency
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/roster_schedules.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/scholarship_rules.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/api/v1/endpoints/users.py
  backend/app/core/config.py
  docker-compose.staging.yml
  frontend/components/create-schedule-dialog.tsx
  frontend/components/edit-schedule-dialog.tsx
  frontend/components/payment-roster-list.tsx
  frontend/components/roster-management-dashboard.tsx
  frontend/components/roster-schedule-list.tsx
  frontend/lib/api.ts
  frontend/src/services/api/scholarshipConfigApi.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat: add scholarship terms document upload and preview functionality
  backend/alembic/versions/dd2e75101fc4_add_terms_document_url_to_scholarship_.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/models/scholarship.py
  backend/app/schemas/application_field.py
  backend/app/schemas/scholarship.py
  backend/app/services/application_field_service.py
  backend/app/services/scholarship_service.py
  docker-compose.staging.yml
  frontend/app/api/v1/preview-terms/route.ts
  frontend/components/admin-dashboard.tsx
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/sso-login-page.tsx
  frontend/lib/api.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

docs: add path security and file upload/preview architecture guidelines
  .claude/CLAUDE.md
Due: none

feat: add environment variable control for debug panel
  .claude/CLAUDE.md
  docker-compose.dev.yml
  docker-compose.staging.yml
  docker-compose.yml
  frontend/components/debug-panel.tsx
Due: npm-lint, npm-test

fix: refresh notification unread count on key events
  frontend/contexts/notification-context.tsx
Due: npm-lint, npm-test

fix: correct student enrollment data path in profile page
  frontend/components/user-profile-management.tsx
Due: npm-lint, npm-test

refactor: redesign header with sticky positioning and simplified user info
  frontend/components/header.tsx
Due: npm-lint, npm-test

fix: replace email with student ID in header user info
  frontend/components/header.tsx
Due: npm-lint, npm-test

fix: use nycu_id instead of studentId in header
  frontend/components/header.tsx
Due: npm-lint, npm-test

feat: reorder tabs when student has no applications
  frontend/components/enhanced-student-portal.tsx
Due: npm-lint, npm-test

refactor: move save buttons to card header
  frontend/components/user-profile-management.tsx
Due: npm-lint, npm-test

fix: improve student portal UI/UX with tab icons and harmonized profile layout
  frontend/components/enhanced-student-portal.tsx
  frontend/components/user-profile-management.tsx
Due: npm-lint, npm-test

fix: handle undefined applications array in initial tab state
  frontend/components/enhanced-student-portal.tsx
Due: npm-lint, npm-test

refactor: move bank document upload button to same row as label
  frontend/components/user-profile-management.tsx
Due: npm-lint, npm-test

feat: add animated skeleton loading states to file preview dialog
  frontend/components/file-preview-dialog.tsx
Due: npm-lint, npm-test

fix: only show auto-fill message when field has value
  frontend/components/dynamic-application-form.tsx
Due: npm-lint, npm-test

fix: prevent selection of ineligible scholarships in application form
  frontend/components/enhanced-student-portal.tsx
Due: npm-lint, npm-test

feat: show message when no eligible scholarships available in dropdown
  frontend/components/enhanced-student-portal.tsx
Due: npm-lint, npm-test

fix: improve no eligible scholarships message display
  frontend/components/enhanced-student-portal.tsx
Due: npm-lint, npm-test

feat: add semester data to debug panel student info
  backend/app/api/v1/endpoints/users.py
  frontend/components/debug-panel.tsx
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

debug: add temporary debug info for semester data visibility
  frontend/components/debug-panel.tsx
Due: npm-lint, npm-test

feat: add SUPER_ADMIN_NYCU_ID environment variable
  docker-compose.staging.yml
  docker-compose.yml
Due: none

feat: implement SUPER_ADMIN_NYCU_ID backend logic for Portal SSO
  backend/app/core/config.py
  backend/app/services/portal_sso_service.py
Due: pytest-quick, pytest-coverage

feat: improve deployment pipeline and staging configuration
  .github/workflows/deploy-pipeline.yml
  docker-compose.staging.yml
  frontend/components/sso-login-page.tsx
Due: npm-lint, npm-test

feat: UI improvements and code formatting updates
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/college_review.py
  backend/app/services/application_service.py
  backend/app/services/github_integration_service.py
  backend/app/services/roster_service.py
  backend/app/services/scholarship_notification_service.py
  docs/specifications/srs-v1.0.md
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/admin-dashboard.tsx
  frontend/components/admin-management-interface.tsx
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/footer.tsx
  frontend/components/header.tsx
  frontend/lib/i18n.ts
  frontend/public/nycu-favicon.svg
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

chore: comment out seed database step in deployment pipeline
  .github/workflows/deploy-pipeline.yml
Due: none

fix: remove ipv6=off from nginx resolver config
  nginx/nginx.staging.conf
Due: none

security: fix critical vulnerabilities in terms document upload
  backend/app/api/v1/endpoints/scholarships.py
  backend/requirements.txt
  frontend/app/api/v1/preview-terms/route.ts
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/enhanced-student-portal.tsx
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

security: fix SSRF vulnerability in preview route
  frontend/app/api/v1/preview-terms/route.ts
Due: npm-lint, npm-test

security: add strict URL validation to prevent SSRF
  frontend/app/api/v1/preview-terms/route.ts
Due: npm-lint, npm-test

test: fix GitHub integration service test with correct field names
  backend/app/tests/test_github_integration_service.py
Due: pytest-quick, pytest-coverage

fix: resolve variable initialization order in EnhancedStudentPortal
  frontend/components/enhanced-student-portal.tsx
Due: npm-lint, npm-test

security: prevent XSS by not exposing user-controlled MIME type in error message
  backend/app/api/v1/endpoints/scholarships.py
Due: pytest-quick, pytest-coverage

security: fix incomplete URL substring sanitization vulnerability
  frontend/app/api/v1/preview-terms/route.ts
Due: npm-lint, npm-test

fix: resolve frontend test failures and variable initialization issues
  frontend/components/__tests__/enhanced-student-portal.test.tsx
  frontend/components/enhanced-student-portal.tsx
Due: npm-lint, npm-test

fix: resolve TypeScript and ESLint errors
  frontend/components/file-preview-dialog.tsx
  frontend/lib/api.ts
Due: npm-lint, npm-test

style: fix flake8 W504 line break after binary operator
  backend/app/services/auth_service.py
Due: pytest-quick, pytest-coverage

Path conditions:
  pytest-quick: any of: ^backend/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  pytest-coverage: any of: ^backend/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  npm-lint: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  npm-test: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
