Repository jotpalch/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-quick, pytest-coverage, npm-lint, npm-test

pytest-quick:
  name: Quick Python Tests
  entry: bash -c 'cd backend && python -m pytest -m "smoke" -v --tb=short'
  language: system
  pass_filenames: false

pytest-coverage:
  name: Python Test Coverage
  entry: bash -c 'cd backend && python -m pytest --cov=app --cov-fail-under=90 --cov-report=term-missing:skip-covered -x'
  language: system
  pass_filenames: false
  stages:
  - push

npm-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

npm-test:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm test -- --watchAll=false --passWithNoTests'
  language: system
  pass_filenames: false
  stages:
  - push

refactor(auth): remove password functions and add comprehensive test suite
  backend/app/core/security.py
  backend/app/tests/conftest.py
  backend/app/tests/test_application_service.py
  backend/app/tests/test_auth_service.py
  backend/app/tests/test_core_exceptions.py
  backend/app/tests/test_core_security.py
  backend/app/tests/test_notification_service.py
  backend/app/tests/test_student_service.py
  backend/run_unit_tests.py
Due: pytest-quick, pytest-coverage

test(frontend): add comprehensive unit test suite
  frontend/components/__tests__/file-upload-simple.test.tsx
  frontend/components/__tests__/file-upload.test.tsx
  frontend/components/__tests__/notification-button.test.tsx
  frontend/hooks/__tests__/use-applications.test.tsx
  frontend/hooks/__tests__/use-mobile.test.tsx
  frontend/lib/__mocks__/i18n.ts
  frontend/lib/__tests__/utils.test.ts
  frontend/lib/__tests__/validation.test.ts
  frontend/lib/__tests__/validators.test.ts
  frontend/lib/utils/__tests__/application-helpers.test.ts
Due: npm-lint, npm-test

fix(ci): optimize CI/CD pipeline for successful build and deploy
  .github/workflows/ci.yml
  .github/workflows/simple-ci.yml
  .github/workflows/test-coverage.yml
  frontend/e2e-setup.js
  frontend/e2e/README.md
  frontend/e2e/admin-dashboard.spec.ts
  frontend/e2e/auth.spec.ts
  frontend/e2e/debug-test.spec.ts
  frontend/e2e/global-setup.ts
  frontend/e2e/minimal-test.spec.ts
  frontend/e2e/pages/admin-dashboard-page.ts
  frontend/e2e/pages/login-page.ts
  frontend/e2e/simple-check.spec.ts
  frontend/e2e/student-workflow.spec.ts
  frontend/e2e/test-helpers.ts
  frontend/e2e/working-test.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/run-e2e-tests.sh
  test-docker.sh
Due: npm-lint, npm-test

fix(tests): add fetch mock to Jest setup for API tests
  frontend/jest.setup.ts
Due: npm-lint, npm-test

fix(ci): resolve CI/CD pipeline test failures
  backend/app/core/config.py
  backend/requirements-dev.txt
  frontend/__mocks__/@/components/ui/badge.tsx
  frontend/__mocks__/@/components/ui/button.tsx
  frontend/__mocks__/@/components/ui/checkbox.tsx
  frontend/__mocks__/@/components/ui/command.tsx
  frontend/__mocks__/@/components/ui/popover.tsx
  frontend/__mocks__/@/hooks/use-scholarship-permissions.ts
  frontend/jest.setup.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

fix(import): correct import statement for apiClient in TestUsersPage component
  frontend/app/admin/test-users/page.tsx
Due: npm-lint, npm-test

fix(import): correct import statement in TestUsersPage component
  frontend/app/admin/test-users/page.tsx
Due: npm-lint, npm-test

style(backend): remove extra blank lines in scholarship model
  backend/app/models/scholarship.py
Due: pytest-quick, pytest-coverage

feat: add mock student database API for development
  DEVELOPMENT.md
  docker-compose.dev.yml
  mock-student-api/Dockerfile
  mock-student-api/README.md
  mock-student-api/data_generator.py
  mock-student-api/docker-compose.yml
  mock-student-api/main.py
  mock-student-api/models.py
  mock-student-api/requirements.txt
  mock-student-api/test_api.py
Due: none

Add comprehensive scholarship system database schema
  backend/alembic/versions/001_add_scholarship_system_tables.py
  backend/app/models/scholarship_extended.py
Due: pytest-quick, pytest-coverage

Enhance ScholarshipType model with comprehensive business logic
  backend/app/models/scholarship.py
Due: pytest-quick, pytest-coverage

Implement comprehensive scholarship application workflow services
  backend/app/services/scholarship_service.py
  backend/test_scholarship_integration.py
Due: pytest-quick, pytest-coverage

docs: restructure documentation into organized hierarchy
  README.md
  docs/architecture/api-design.md
  docs/architecture/database-schema.md
  docs/architecture/system-overview.md
  docs/deployment/docker-setup.md
  docs/deployment/production-deployment.md
  docs/development/ci-cd.md
  docs/development/migration-guides.md
  docs/development/testing.md
  docs/features/authentication.md
  docs/features/developer-profiles.md
  docs/features/user-management.md
  docs/getting-started/development-setup.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/specifications/requirements.md
  docs/specifications/srs-v1.0.md
Due: none

Complete comprehensive scholarship management system for issue #10
  backend/alembic/versions/002_enhance_applications_for_issue_10.py
  backend/app/models/application.py
  backend/app/models/scholarship.py
  backend/app/models/scholarship_extended.py
  backend/app/services/scholarship_service.py
  backend/test_scholarship_integration.py
Due: pytest-quick, pytest-coverage

Complete all sub-issues and future enhancements for comprehensive scholarship system
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/quota_dashboard.py
  backend/app/api/v1/endpoints/scholarship_management.py
  backend/app/services/analytics_service.py
  backend/app/services/bulk_approval_service.py
  backend/app/services/eligibility_verification_service.py
  backend/app/services/scholarship_notification_service.py
  backend/app/utils/i18n.py
Due: pytest-quick, pytest-coverage

fix(paths): update all path references to new apps/ structure
  .github/workflows/ci.yml
  Makefile
  tools/scripts/run-tests.sh
  tools/scripts/validate-ci.sh
Due: none

fix(workflows): address remaining Claude bot review issues
  .github/workflows/dependency-update.yml
  .github/workflows/release.yml
  .github/workflows/simple-ci.yml
  .github/workflows/test-coverage.yml
  Makefile
Due: none

resolve: merge critical changes from PR #39 into restructured architecture
  apps/backend/app/api/v1/api.py
  apps/backend/app/api/v1/endpoints/quota_dashboard.py
  apps/backend/app/api/v1/endpoints/scholarship_management.py
  apps/backend/app/models/application.py
  apps/backend/app/services/scholarship_service.py
Due: none

feat: implement comprehensive bug prevention system
  backend/.github/workflows/schema_validation.yml
  backend/.pre-commit-config.yaml
  backend/alembic.ini
  backend/alembic/versions/add_missing_application_columns.py
  backend/alembic/versions/add_scholarship_type_column.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/core/auto_response_converter.py
  backend/app/core/config.py
  backend/app/core/schema_validation.py
  backend/app/main.py
  backend/app/middleware/schema_validation_middleware.py
  backend/app/services/analytics_service.py
  backend/app/services/eligibility_verification_service.py
  backend/app/services/scholarship_service.py
  backend/docs/comprehensive_bug_prevention.md
  backend/docs/preventing_schema_validation_errors.md
  backend/scripts/pre_commit_schema_check.py
  backend/setup_bug_prevention.py
  backend/test_endpoint_schemas.py
  backend/tests/test_api_schema_validation.py
Due: pytest-quick, pytest-coverage

fix: update Dockerfile and package-lock.json for production build
  frontend/Dockerfile
  frontend/package-lock.json
Due: none

feat(frontend): implement scholarship listing component with filtering
  frontend/app/scholarships/eligible/page.tsx
  frontend/app/scholarships/page.tsx
  frontend/components/__tests__/scholarship-listing.test.tsx
  frontend/components/scholarship-listing.tsx
  frontend/jest.setup.ts
Due: npm-lint, npm-test

test: fix failing API client tests by mocking fetch headers properly
  frontend/jest.setup.ts
  frontend/lib/__tests__/api.test.ts
Due: npm-lint, npm-test

feat: implement flexible notification template management system
  NOTIFICATION_TEMPLATE_SYSTEM.md
  backend/alembic/versions/001_create_notification_templates.py
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/notification_templates.py
  backend/app/models/__init__.py
  backend/app/models/notification_template.py
  backend/app/models/scholarship.py
  backend/app/schemas/__init__.py
  backend/app/schemas/notification_template.py
  backend/app/services/notification_service.py
  backend/app/services/notification_template_permission_service.py
  backend/app/services/notification_template_service.py
  backend/app/services/notification_template_variable_service.py
  backend/app/tests/test_notification_template_endpoints.py
  backend/app/tests/test_notification_template_service.py
  backend/app/tests/test_notification_template_variable_service.py
  frontend/app/admin/notification-templates/page.tsx
  frontend/components/notification-template-management.tsx
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat: Enhance notification system with real-time updates and caching
  backend/alembic/versions/003_add_notification_preferences.py
  backend/alembic/versions/004_add_notification_indexes.py
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/notifications.py
  backend/app/api/v1/endpoints/websocket.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/notification.py
  backend/app/schemas/notification.py
  backend/app/services/cache_service.py
  backend/app/services/notification_service.py
  backend/app/services/websocket_manager.py
  backend/app/tests/conftest.py
  backend/app/utils/pagination.py
  frontend/components/notification-provider.tsx
  frontend/hooks/use-notification-websocket.ts
  frontend/hooks/use-websocket.ts
  frontend/lib/api.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

chore: update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: update backend dependencies
  backend/requirements.txt
Due: none

Path conditions:
  pytest-quick: any of: ^backend/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  pytest-coverage: any of: ^backend/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  npm-lint: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  npm-test: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
