Repository jotpalch/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-quick, pytest-coverage, npm-lint, npm-test

Path conditions:
  pytest-quick: any of: ^backend/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  pytest-coverage: any of: ^backend/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  npm-lint: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  npm-test: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)

feat: update Docker Compose configuration for testing environment
  docker-compose.test.yml
Due: none

feat: enhance application creation and validation process
  backend/app/api/v1/endpoints/applications.py
  backend/app/models/application.py
  backend/app/models/student.py
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  backend/app/services/scholarship_service.py
  backend/app/services/student_service.py
  frontend/app/api/v1/preview/route.ts
  frontend/components/application-detail-dialog.tsx
  frontend/components/dynamic-application-form.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/file-preview-dialog.tsx
  frontend/components/file-upload.tsx
  frontend/components/scholarship-specific-dashboard.tsx
  frontend/components/student-portal.tsx
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat: enhance scholarship management and application endpoints
  backend/app/api/v1/endpoints/admin.py
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  frontend/components/admin-interface.tsx
  frontend/components/scholarship-specific-dashboard.tsx
  frontend/hooks/use-admin.ts
  frontend/lib/api.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat: update scholarship-specific dashboard with enhanced application handling
  frontend/components/scholarship-specific-dashboard.tsx
Due: npm-lint, npm-test

feat: add scholarship sub-type configuration and management endpoints
  backend/alembic/versions/add_scholarship_subtype_config.py
  backend/app/api/v1/endpoints/admin.py
  backend/app/core/init_db.py
  backend/app/models/scholarship.py
  backend/app/schemas/scholarship.py
  frontend/components/scholarship-specific-dashboard.tsx
  frontend/lib/api.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

refactor: simplify sub-type display name logic in scholarship dashboard
  frontend/components/scholarship-specific-dashboard.tsx
Due: npm-lint, npm-test

feat: integrate scholarship management panel into dashboard
  frontend/components/scholarship-specific-dashboard.tsx
Due: npm-lint, npm-test

feat: enhance file handling and download functionality
  backend/app/services/application_service.py
  backend/app/services/minio_service.py
  frontend/app/api/v1/download/route.ts
  frontend/components/application-detail-dialog.tsx
  frontend/components/file-preview-dialog.tsx
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat: enhance access control for file and application handling
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/files.py
  backend/app/services/application_service.py
Due: pytest-quick, pytest-coverage

fix: improve scholarship detail retrieval and enhance application form data handling
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/schemas/scholarship.py
  frontend/components/application-detail-dialog.tsx
  frontend/components/application-form-data-display.tsx
  frontend/lib/api.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat: integrate document handling into application management
  backend/app/api/v1/endpoints/applications.py
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  frontend/components/application-detail-dialog.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/lib/api.ts
  frontend/lib/utils/application-helpers.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat: enhance application management with draft functionality and deletion support
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/applications.py
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  frontend/components/admin-interface.tsx
  frontend/components/application-form-data-display.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/scholarship-specific-dashboard.tsx
  frontend/hooks/use-applications.ts
  frontend/lib/api.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

refactor: update scholarship terminology and descriptions
  backend/app/core/init_db.py
  backend/app/models/scholarship.py
  backend/app/schemas/scholarship.py
  docs/Table_Description.md
  docs/combined-scholarship-guide.md
  frontend/app/page.tsx
  frontend/components/student-portal.tsx
  frontend/lib/i18n.ts
  frontend/lib/utils/application-helpers.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat: refactor user model and update related components
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/files.py
  backend/app/api/v1/endpoints/pre_authorization.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/api/v1/endpoints/users.py
  backend/app/core/config.py
  backend/app/core/deps.py
  backend/app/core/security.py
  backend/app/models/scholarship.py
  backend/app/models/user.py
  backend/app/schemas/pre_authorization.py
  backend/app/schemas/user.py
  backend/app/services/application_service.py
  backend/app/services/auth_service.py
  backend/app/services/developer_profile_service.py
  backend/app/services/email_service.py
  backend/app/services/mock_sso_service.py
  backend/app/services/pre_authorization_service.py
  backend/create_notification_reads_table.py
  frontend/__mocks__/lib/api.ts
  frontend/app/admin/test-users/page.tsx
  frontend/app/page.tsx
  frontend/components/admin-interface.tsx
  frontend/components/college-dashboard.tsx
  frontend/components/dev-login-page.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/mock-sso-login.tsx
  frontend/components/professor-interface.tsx
  frontend/components/scholarship-management-panel.tsx
  frontend/components/scholarship-specific-dashboard.tsx
  frontend/components/student-portal.tsx
  frontend/components/user-edit-modal.tsx
  frontend/e2e/test-helpers.ts
  frontend/lib/api.ts
  frontend/lib/i18n.ts
  frontend/lib/utils/application-helpers.ts
  frontend/types/user.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat: update test user creation to use nycu_id and new user fields
  backend/app/core/init_db.py
Due: pytest-quick, pytest-coverage

refactor: clean up security imports across services
  backend/app/core/init_db.py
  backend/app/services/auth_service.py
  backend/app/services/developer_profile_service.py
Due: pytest-quick, pytest-coverage

refactor: reorganize ScholarshipSubTypeConfig model definition
  backend/app/models/scholarship.py
Due: pytest-quick, pytest-coverage

feat: enhance scholarship model with new attributes and enums
  backend/app/core/init_db.py
  backend/app/models/scholarship.py
  backend/app/schemas/__init__.py
  backend/app/schemas/scholarship.py
  backend/app/services/scholarship_service.py
Due: pytest-quick, pytest-coverage

chore: update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: update backend dependencies
  backend/requirements.txt
Due: none

feat: expand application model with professor review functionality
  backend/app/models/__init__.py
  backend/app/models/application.py
  backend/app/schemas/application.py
  backend/app/services/application_service.py
Due: pytest-quick, pytest-coverage

fix(ci): resolve GitHub Actions workflow errors and test configurations
  .github/workflows/ci.yml
  backend/.coveragerc
  frontend/jest.config.standalone.js
  frontend/package.json
Due: npm-lint, npm-test

fix(ci): quote SQLite database URLs to resolve YAML syntax errors
  .github/workflows/ci.yml
  .github/workflows/test-coverage.yml
Due: none

fix(ci): add workflow_call trigger to test-coverage.yml
  .github/workflows/test-coverage.yml
Due: none

fix(ci): resolve test configuration issues in CI pipeline
  .github/workflows/test-coverage.yml
Due: none

fix(ci): auto-fix GitHub Actions workflow failures
  .github/workflows/test-coverage.yml
Due: none

fix(ci): resolve service configuration and coverage issues
  .github/workflows/test-coverage.yml
Due: none

fix(ci): simplify integration tests and add dependency verification
  .github/workflows/test-coverage.yml
Due: none

fix(ci): make tests non-failing to stabilize CI pipeline
  .github/workflows/test-coverage.yml
Due: none

fix(ci): make test-coverage workflow resilient to job failures
  .github/workflows/test-coverage.yml
Due: none

fix(ci): remove job dependencies to prevent cascade failures
  .github/workflows/test-coverage.yml
Due: none

docs: restructure documentation into organized hierarchy
  FINAL_USER_MANAGEMENT_FIX.md
  README.md
  SCHOLARSHIP_MODEL_UPDATE_SUMMARY.md
  USER_EDIT_FUNCTION_FIX.md
  USER_EDIT_MODAL_IMPLEMENTATION.md
  USER_FILTER_TEST.md
  USER_MANAGEMENT_FIX_SUMMARY.md
  USER_MANAGEMENT_FRONTEND_BACKEND_MATCH.md
  docs/architecture/api-design.md
  docs/architecture/database-schema.md
  docs/architecture/system-overview.md
  docs/deployment/docker-setup.md
  docs/deployment/production-deployment.md
  docs/development/ci-cd.md
  docs/development/migration-guides.md
  docs/development/testing.md
  docs/features/authentication.md
  docs/features/developer-profiles.md
  docs/features/user-management.md
  docs/getting-started/development-setup.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/specifications/requirements.md
  docs/specifications/srs-v1.0.md
Due: none

fix(ci): add fallbacks to complex test jobs to prevent failures
  .github/workflows/test-coverage.yml
Due: none

fix(ci): add continue-on-error to problematic workflow steps
  .github/workflows/test-coverage.yml
Due: none
