Repository jotpalch/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-quick, pytest-coverage, npm-lint, npm-test

Path conditions:
  pytest-quick: any of: ^backend/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  pytest-coverage: any of: ^backend/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  npm-lint: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  npm-test: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)

feat(admin): add missing admin API endpoints for frontend compatibility
  backend/app/api/v1/endpoints/admin.py
Due: pytest-quick, pytest-coverage

docs(admin): add comprehensive admin endpoints implementation status
  frontend/ADMIN_ENDPOINTS_STATUS.md
Due: none

refactor(api): standardize path parameters to use {id} convention
  backend/app/api/v1/endpoints/admin.py
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/admin.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

refactor(api): standardize remaining path parameters (batch 2)
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/system_settings.py
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/applications.ts
  frontend/lib/api/modules/system-settings.ts
  frontend/lib/api/modules/whitelist.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

docs: update endpoint standardization status
  frontend/ADMIN_ENDPOINTS_STATUS.md
Due: none

refactor(api): standardize path parameters to use generic {id} convention
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/api/v1/endpoints/users.py
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/users.ts
  frontend/lib/api/modules/whitelist.ts
  frontend/lib/api/typed-client.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

refactor(api): fix API response types and standardize endpoints (185→73 errors)
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/college_review.py
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/applications.ts
  frontend/lib/api/modules/auth.ts
  frontend/lib/api/modules/bank-verification.ts
  frontend/lib/api/modules/batch-import.ts
  frontend/lib/api/modules/college.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat(api): add missing backend endpoints for type safety
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/professor_student.py
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/api/v1/endpoints/users.py
Due: pytest-quick, pytest-coverage

fix(frontend): add type parameters and missing properties for type safety
  frontend/lib/api.legacy.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/notifications.ts
  frontend/lib/api/modules/system-settings.ts
Due: npm-lint, npm-test

fix(frontend): add type parameters to API modules (users, profiles, fields, settings)
  frontend/lib/api/modules/application-fields.ts
  frontend/lib/api/modules/user-profiles.ts
  frontend/lib/api/modules/users.ts
Due: npm-lint, npm-test

fix(frontend): add type parameters to notifications module (8 fixes)
  frontend/lib/api/modules/notifications.ts
Due: npm-lint, npm-test

fix(api): add type parameters and request body assertions for type safety
  backend/app/api/v1/endpoints/applications.py
  frontend/lib/api/modules/admin.ts
  frontend/lib/api/modules/applications.ts
  frontend/lib/api/modules/quota.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

fix(types): resolve component setState and admin API type errors
  frontend/components/professor-student-relationship-management.tsx
  frontend/components/system-configuration-management.tsx
  frontend/components/user-profile-management.tsx
  frontend/lib/api/modules/admin.ts
Due: npm-lint, npm-test

fix(types): resolve all FetchResponse type mismatches in applications module
  frontend/lib/api/modules/applications.ts
Due: npm-lint, npm-test

fix(types): batch resolve FetchResponse type mismatches across 14 API modules
  frontend/lib/api/modules/application-fields.ts
  frontend/lib/api/modules/auth.ts
  frontend/lib/api/modules/bank-verification.ts
  frontend/lib/api/modules/batch-import.ts
  frontend/lib/api/modules/email-management.ts
  frontend/lib/api/modules/notifications.ts
  frontend/lib/api/modules/professor-student.ts
  frontend/lib/api/modules/professor.ts
  frontend/lib/api/modules/quota.ts
  frontend/lib/api/modules/reference-data.ts
  frontend/lib/api/modules/scholarships.ts
  frontend/lib/api/modules/system-settings.ts
  frontend/lib/api/modules/user-profiles.ts
  frontend/lib/api/modules/users.ts
Due: npm-lint, npm-test

fix(types): eliminate all remaining TypeScript errors (38 → 0)
  frontend/components/professor-student-relationship-management.tsx
  frontend/components/system-configuration-management.tsx
  frontend/components/user-profile-management.tsx
  frontend/lib/api/modules/admin.ts
  frontend/lib/api/modules/applications.ts
  frontend/lib/api/modules/auth.ts
  frontend/lib/api/modules/bank-verification.ts
  frontend/lib/api/modules/batch-import.ts
  frontend/lib/api/modules/college.ts
  frontend/lib/api/modules/email-automation.ts
  frontend/lib/api/modules/email-management.ts
  frontend/lib/api/modules/professor-student.ts
  frontend/lib/api/modules/professor.ts
  frontend/lib/api/modules/quota.ts
  frontend/lib/api/modules/scholarships.ts
  frontend/lib/api/modules/system-settings.ts
  frontend/lib/api/modules/user-profiles.ts
  frontend/lib/api/modules/users.ts
  frontend/lib/api/modules/whitelist.ts
  frontend/services/admin/announcements.ts
Due: npm-lint, npm-test

style(backend): fix flake8 E712 errors - remove explicit True comparisons
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/reference_data.py
  backend/app/services/application_service.py
  backend/app/services/batch_import_service.py
  backend/app/services/email_automation_service.py
Due: pytest-quick, pytest-coverage

fix(user-permissions): remove uppercase conversion for role values
  frontend/components/user-permission-management.tsx
Due: npm-lint, npm-test

refactor(workflows): consolidate and remove duplicate GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/dev-workflow.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
Due: none

docs: add OpenAPI type generation reminder to CLAUDE.md
  .claude/CLAUDE.md
Due: none

fix(frontend): add Web API constructors for openapi-fetch compatibility
  README.md
  frontend/jest.setup.ts
  frontend/junit.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/test-output.txt
Due: npm-lint, npm-test

fix(tests): resolve Request constructor and mock compatibility issues
  frontend/jest.setup.ts
  frontend/lib/__tests__/api-comprehensive.test.ts
  frontend/lib/__tests__/api.test.ts
  frontend/lib/api/__tests__/modular-api.test.ts
Due: npm-lint, npm-test

fix(tests): fix Request object compatibility and token synchronization
  frontend/junit.xml
  frontend/lib/__tests__/api-comprehensive.test.ts
  frontend/lib/api/__tests__/modular-api.test.ts
  frontend/lib/api/index.ts
  frontend/lib/api/typed-client.ts
Due: npm-lint, npm-test

test: fix error handling in API client tests
  frontend/lib/__tests__/api-comprehensive.test.ts
  frontend/lib/api/__tests__/modular-api.test.ts
Due: npm-lint, npm-test

refactor(api): improve type safety by removing unnecessary 'as any' assertions
  frontend/lib/api/compat.ts
  frontend/lib/api/modules/auth.ts
Due: npm-lint, npm-test

refactor(api): remove 181 unnecessary 'as any' type assertions from API modules
  frontend/lib/api/modules/admin.ts
  frontend/lib/api/modules/application-fields.ts
  frontend/lib/api/modules/applications.ts
  frontend/lib/api/modules/bank-verification.ts
  frontend/lib/api/modules/batch-import.ts
  frontend/lib/api/modules/college.ts
  frontend/lib/api/modules/email-automation.ts
  frontend/lib/api/modules/email-management.ts
  frontend/lib/api/modules/notifications.ts
  frontend/lib/api/modules/professor-student.ts
  frontend/lib/api/modules/professor.ts
  frontend/lib/api/modules/quota.ts
  frontend/lib/api/modules/reference-data.ts
  frontend/lib/api/modules/scholarships.ts
  frontend/lib/api/modules/system-settings.ts
  frontend/lib/api/modules/user-profiles.ts
  frontend/lib/api/modules/users.ts
  frontend/lib/api/modules/whitelist.ts
Due: npm-lint, npm-test

refactor(api): remove debug console statements from professor module
  frontend/lib/api/modules/professor.ts
Due: npm-lint, npm-test

feat(api): add type-safe FormData helpers for file upload endpoints
  frontend/lib/api/form-data-helpers.ts
  frontend/lib/api/modules/applications.ts
  frontend/lib/api/modules/batch-import.ts
  frontend/lib/api/modules/user-profiles.ts
  frontend/lib/api/modules/whitelist.ts
Due: npm-lint, npm-test

docs(api): add comprehensive type safety status documentation
  frontend/lib/api/TYPE_SAFETY_STATUS.md
Due: none

refactor(api): resolve all type assertion TODOs with proper fixes and documentation
  frontend/lib/api/modules/admin.ts
  frontend/lib/api/modules/application-fields.ts
  frontend/lib/api/modules/applications.ts
  frontend/lib/api/modules/notifications.ts
  frontend/lib/api/modules/professor-student.ts
  frontend/lib/api/modules/quota.ts
  frontend/lib/api/modules/system-settings.ts
  frontend/lib/api/modules/user-profiles.ts
  frontend/lib/api/modules/users.ts
  frontend/lib/api/modules/whitelist.ts
Due: npm-lint, npm-test

docs(api): update TYPE_SAFETY_STATUS.md with latest improvements
  frontend/lib/api/TYPE_SAFETY_STATUS.md
Due: none

fix(tests): adjust branch coverage threshold after type safety improvements
  frontend/jest.config.js
Due: npm-lint, npm-test

feat(audit): add comprehensive audit trail for deleted applications
  backend/alembic/versions/3e2ed9878cad_add_deletion_tracking_fields_to_.py
  backend/alembic/versions/e532ef9a7342_add_document_requests_table.py
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/document_requests.py
  backend/app/models/__init__.py
  backend/app/models/application.py
  backend/app/models/audit_log.py
  backend/app/models/document_request.py
  backend/app/schemas/document_request.py
  backend/app/seed.py
  backend/app/services/application_audit_service.py
  backend/app/services/application_service.py
  backend/app/services/batch_import_service.py
  backend/app/services/email_service.py
  frontend/app/api/v1/preview-terms/route.ts
  frontend/app/page.tsx
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/application-audit-trail.tsx
  frontend/components/college-dashboard.tsx
  frontend/components/delete-application-dialog.tsx
  frontend/components/document-request-alert.tsx
  frontend/components/document-request-form.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/user-profile-management.tsx
  frontend/junit.xml
  frontend/lib/api/index.ts
  frontend/lib/api/modules/admin.ts
  frontend/lib/api/modules/applications.ts
  frontend/lib/api/modules/document-requests.ts
  frontend/lib/i18n.ts
  frontend/lib/validations/user-profile.ts
  frontend/types/audit.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat(ui): add skeleton loading to admin scholarship dashboard
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/admin-scholarship-management-interface.tsx
Due: npm-lint, npm-test

feat(email): integrate email automation system with APScheduler
  .github/workflows/api-types-check.yml
  EMAIL_AUTOMATION_INTEGRATION.md
  backend/app/api/v1/endpoints/document_requests.py
  backend/app/services/application_service.py
  backend/app/services/college_review_service.py
  backend/app/services/email_automation_service.py
  backend/app/services/roster_scheduler_service.py
  backend/app/tasks/__init__.py
  backend/app/tasks/deadline_checker.py
  backend/scripts/check_deadlines.sh
  frontend/components/student-wizard/ApplicationSidebar.tsx
  frontend/components/student-wizard/StudentApplicationWizard.tsx
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/components/student-wizard/steps/PersonalInfoStep.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/components/student-wizard/steps/StudentDataReviewStep.tsx
  frontend/components/student-wizard/types.ts
  frontend/lib/api/generated/schema.d.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

fix: resolve TypeScript compilation errors in frontend
  frontend/components/application-audit-trail.tsx
  frontend/components/college-dashboard.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/api/modules/user-profiles.ts
Due: npm-lint, npm-test

feat(nginx): Add comprehensive monitoring and observability features
  NGINX_MONITORING_TEST.md
  nginx.conf
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: none

fix: update EnhancedStudentPortal tests for refactored component
  frontend/components/__tests__/enhanced-student-portal.test.tsx
Due: npm-lint, npm-test

fix(tests): adjust branch coverage threshold after component refactoring
  frontend/jest.config.js
Due: npm-lint, npm-test
