Repository jotpalch/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-quick, pytest-coverage, npm-lint, npm-test

Path conditions:
  pytest-quick: any of: ^backend/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  pytest-coverage: any of: ^backend/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  npm-lint: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  npm-test: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)

feat: update frontend components and backend services
  backend/app/api/v1/endpoints/user_profiles.py
  backend/app/services/application_service.py
  backend/app/services/eligibility_service.py
  backend/app/services/roster_scheduler_service.py
  backend/app/services/scholarship_service.py
  frontend/components/admin-configuration-management.tsx
  frontend/components/admin-management-interface.tsx
  frontend/components/dynamic-application-form.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/ui/toast.tsx
  frontend/public/icon.svg
  frontend/public/nycu-favicon.svg
  mock-student-api/main.py
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

docs: update development guidelines and best practices
  .claude/CLAUDE.md
Due: none

feat: complete application fields, whitelist, and preview enhancements
  backend/alembic/versions/475a5cc5a601_add_example_file_url_to_application_.py
  backend/alembic/versions/e5ce4830cc3d_clear_whitelist_data_change_to_nycu_id.py
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/core/config.py
  backend/app/models/application_field.py
  backend/app/models/scholarship.py
  backend/app/schemas/application_field.py
  backend/app/schemas/scholarship.py
  backend/app/schemas/scholarship_configuration.py
  backend/app/schemas/system_setting.py
  backend/app/services/whitelist_excel_service.py
  frontend/app/api/v1/preview-document-example/route.ts
  frontend/app/api/v1/preview/route.ts
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/whitelist-management-dialog.tsx
  frontend/components/whitelist-management.tsx
  frontend/lib/api.ts
  frontend/types/scholarship.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat: add email test mode with multiple recipients support
  backend/alembic/versions/691c27876bc0_add_email_test_mode_audit_table.py
  backend/app/api/v1/endpoints/email_management.py
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/models/email_management.py
  backend/app/services/email_service.py
  backend/app/tests/test_eligibility_service_unit.py
  frontend/components/admin-management-interface.tsx
  frontend/components/email-test-mode-banner.tsx
  frontend/components/email-test-mode-panel.tsx
  frontend/components/ui/tags-input.tsx
  frontend/lib/api.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

chore: remove database maintenance workflow file
  .github/workflows/database-maintenance.yml
Due: none

fix: address code quality issues and potential bugs from PR review
  backend/alembic/versions/e5ce4830cc3d_clear_whitelist_data_change_to_nycu_id.py
  backend/app/api/v1/endpoints/email_management.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/services/email_service.py
Due: pytest-quick, pytest-coverage

feat: add batch import foundation for offline application import
  backend/alembic/versions/2e7b490e60dc_add_batch_import_tables_and_fields.py
  backend/app/models/__init__.py
  backend/app/models/application.py
  backend/app/models/batch_import.py
  backend/app/schemas/batch_import.py
Due: pytest-quick, pytest-coverage

feat: implement batch import service and API endpoints
  backend/alembic/versions/36976b6fab9f_add_college_code_to_users_table.py
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/models/user.py
  backend/app/services/batch_import_service.py
  backend/app/tests/test_auto_response_converter_unit.py
  backend/app/tests/test_github_integration_utils.py
  backend/app/tests/test_schema_validation_utils.py
Due: pytest-quick, pytest-coverage

fix: add missing /admin prefix to bank verification API routes
  frontend/lib/api.ts
Due: npm-lint, npm-test

feat: implement database-driven batch import with academy-department mapping
  backend/alembic/versions/09a6cf986f5c_seed_academy_data.py
  backend/alembic/versions/3453e6861885_add_academy_name_en_and_department_.py
  backend/alembic/versions/db488c7e8c85_add_parsed_data_to_batch_imports.py
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/models/batch_import.py
  backend/app/models/student.py
  backend/app/services/batch_import_service.py
Due: pytest-quick, pytest-coverage

fix: correct import paths for get_current_user and get_db
  backend/app/api/v1/endpoints/batch_import.py
Due: pytest-quick, pytest-coverage

feat: implement automatic scholarship permissions for college users
  backend/alembic/versions/a570bbf999e7_auto_populate_college_permissions.py
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/users.py
  backend/app/core/security.py
  backend/app/schemas/user.py
  backend/app/services/auth_service.py
  frontend/app/admin/user-management/page.tsx
  frontend/hooks/use-scholarship-permissions.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

refactor: extract user permission management to standalone component
  frontend/app/admin/user-management/page.tsx
  frontend/components/admin-management-interface.tsx
  frontend/components/user-permission-management.tsx
Due: npm-lint, npm-test

feat: restore complete user permission management UI with new features
  frontend/components/user-permission-management.tsx
Due: npm-lint, npm-test

feat(batch-import): complete batch import implementation with proper permissions
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/reference_data.py
  backend/app/api/v1/endpoints/users.py
  backend/app/schemas/user.py
  frontend/app/page.tsx
  frontend/components/batch-import-panel.tsx
  frontend/components/user-edit-modal.tsx
  frontend/components/user-permission-management.tsx
  frontend/lib/api.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat(batch-import): Phase 1 security hardening and error handling improvements
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/core/exceptions.py
  backend/app/models/batch_import.py
  backend/app/models/enums.py
  backend/app/schemas/batch_import.py
  backend/app/services/batch_import_service.py
Due: pytest-quick, pytest-coverage

feat(batch-import): Phase 2 performance optimization and comprehensive testing
  backend/app/models/batch_import.py
  backend/app/services/batch_import_service.py
  backend/app/services/roster_scheduler_service.py
  backend/app/tests/test_batch_import_endpoints.py
  backend/app/tests/test_batch_import_service_unit.py
Due: pytest-quick, pytest-coverage

feat(batch-import): Add Alembic migration for data_expires_at column
  backend/alembic/versions/bdf186945051_add_data_expires_at_column_to_batch_.py
Due: pytest-quick, pytest-coverage

refactor: optimize DebugPanel and add scheduler conditional startup
  backend/app/core/config.py
  backend/app/main.py
  frontend/app/layout.tsx
  frontend/components/debug-panel.tsx
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat(api): add Zod runtime validation to API client
  frontend/lib/api/client.ts
  frontend/lib/api/schemas/README.md
  frontend/lib/api/schemas/user.schema.ts
Due: npm-lint, npm-test

fix(frontend): resolve Next.js 15 Server Component issues
  frontend/app/layout.tsx
  frontend/components/debug-panel-wrapper.tsx
  frontend/components/providers/swr-provider.tsx
Due: npm-lint, npm-test

fix(batch-import): correct field names and types to match backend API
  frontend/components/batch-document-upload.tsx
  frontend/components/batch-import-editor.tsx
  frontend/components/batch-import-panel.tsx
  frontend/lib/api.ts
  frontend/lib/api/modules/batch-import.ts
Due: npm-lint, npm-test

feat(api): complete migration to modular API structure
  frontend/lib/api.legacy.ts
  frontend/lib/api/index.ts
Due: npm-lint, npm-test

fix(api): remove broken backward compatibility code causing AttributeError
  backend/app/api/v1/endpoints/applications.py
Due: pytest-quick, pytest-coverage

feat(batch-import): integrate document upload UI into batch import workflow
  frontend/components/batch-import-panel.tsx
Due: npm-lint, npm-test

feat: add individual application file upload for batch import
  frontend/components/batch-application-file-upload.tsx
  frontend/components/batch-import-panel.tsx
Due: npm-lint, npm-test

feat: enhance batch import with file storage, history filtering, and deletion
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/services/application_service.py
  frontend/components/batch-application-file-upload.tsx
  frontend/components/batch-import-panel.tsx
  frontend/lib/api/modules/batch-import.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

fix: correct MinIO service import name from MinioService to MinIOService
  backend/app/api/v1/endpoints/batch_import.py
Due: pytest-quick, pytest-coverage

fix: correct scholarship permission assignment API endpoint path
  frontend/components/user-permission-management.tsx
Due: npm-lint, npm-test

feat(batch-import): add delete batch and re-upload navigation features
  backend/app/api/v1/endpoints/batch_import.py
  frontend/components/batch-import-panel.tsx
  frontend/contexts/notification-context.tsx
  frontend/hooks/use-notification-count.ts
  frontend/lib/api/modules/batch-import.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

fix(batch-import): resolve SQLAlchemy async lazy loading issues
  backend/app/api/v1/endpoints/batch_import.py
Due: pytest-quick, pytest-coverage

feat(batch-import): improve individual upload UI and dynamic document types
  frontend/components/batch-application-file-upload.tsx
  frontend/components/batch-import-panel.tsx
Due: npm-lint, npm-test

feat: enhance batch import file upload interface with complete data display
  backend/app/services/application_service.py
  frontend/components/application-file-upload-dialog.tsx
  frontend/components/batch-application-file-upload.tsx
  frontend/components/batch-import-panel.tsx
  frontend/lib/api.legacy.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

fix: correct ApiResponse detection logic in API client
  frontend/lib/api/client.ts
Due: npm-lint, npm-test

security(batch-import): implement comprehensive security hardening and performance optimization
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/services/batch_import_service.py
  frontend/components/batch-import-panel.tsx
  frontend/lib/api/client.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat: Complete OpenAPI type generation migration (Phase 1)
  .github/workflows/api-types-check.yml
  .pre-commit-config.yaml
  backend/app/api/v1/endpoints/batch_import.py
  backend/test_pre_auth_role_preservation.py
  frontend/BATCH_MIGRATION.sh
  frontend/MIGRATION_PROGRESS.md
  frontend/MIGRATION_STATUS.md
  frontend/OPENAPI_TYPES_GUIDE.md
  frontend/lib/api/compat.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/index.ts
  frontend/lib/api/modules/admin.ts
  frontend/lib/api/modules/application-fields.ts
  frontend/lib/api/modules/applications.ts
  frontend/lib/api/modules/auth.ts
  frontend/lib/api/modules/bank-verification.ts
  frontend/lib/api/modules/batch-import.ts
  frontend/lib/api/modules/college.ts
  frontend/lib/api/modules/email-automation.ts
  frontend/lib/api/modules/email-management.ts
  frontend/lib/api/modules/notifications.ts
  frontend/lib/api/modules/professor-student.ts
  frontend/lib/api/modules/professor.ts
  frontend/lib/api/modules/quota.ts
  frontend/lib/api/modules/reference-data.ts
  frontend/lib/api/modules/scholarships.ts
  frontend/lib/api/modules/system-settings.ts
  frontend/lib/api/modules/user-profiles.ts
  frontend/lib/api/modules/users.ts
  frontend/lib/api/modules/whitelist.ts
  frontend/lib/api/typed-client.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/generate-api-types.sh
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

feat: Complete Phase 2.1 - Core type alignment and infrastructure fixes
  frontend/MIGRATION_STATUS.md
  frontend/PHASE_2_COMPONENT_FIXES.md
  frontend/lib/api.legacy.ts
  frontend/lib/api/compat.ts
Due: npm-lint, npm-test

fix(types): resolve Phase 2.2 component type errors (51 errors fixed)
  frontend/app/admin/test-users/page.tsx
  frontend/components/admin-management-interface.tsx
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/email-test-mode-banner.tsx
  frontend/components/email-test-mode-panel.tsx
  frontend/components/user-permission-management.tsx
  frontend/lib/api/modules/admin.ts
  frontend/lib/api/modules/users.ts
Due: npm-lint, npm-test

fix(types): resolve ApplicationFieldCreate/DocumentCreate parameter mismatches
  frontend/components/admin-scholarship-management-interface.tsx
Due: npm-lint, npm-test

docs(types): add Phase 2.2 progress summary and analysis
  frontend/PHASE_2_2_SUMMARY.md
Due: none
