Repository jotpalch/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-quick, pytest-coverage, npm-lint, npm-test

pytest-quick:
  name: Quick Python Tests
  entry: bash -c 'cd backend && python -m pytest -m "smoke" -v --tb=short'
  language: system
  pass_filenames: false

pytest-coverage:
  name: Python Test Coverage
  entry: bash -c 'cd backend && python -m pytest --cov=app --cov-fail-under=90 --cov-report=term-missing:skip-covered -x'
  language: system
  pass_filenames: false
  stages:
  - push

npm-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

npm-test:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm test -- --watchAll=false --passWithNoTests'
  language: system
  pass_filenames: false
  stages:
  - push

feat(monitoring): implement comprehensive monitoring infrastructure for staging and production
  .github/workflows/deploy-monitoring-stack.yml
  docker-compose.prod-db.yml
  docker-compose.prod.yml
  docker-compose.staging-db.yml
  docker-compose.staging.yml
  monitoring/.env.monitoring.example
  monitoring/GITHUB_DEPLOYMENT.md
  monitoring/PRODUCTION_RUNBOOK.md
  monitoring/QUICKSTART.md
  monitoring/README.md
  monitoring/config/alertmanager/alertmanager.yml
  monitoring/config/alloy/prod-ap-vm.alloy
  monitoring/config/alloy/prod-db-vm.alloy
  monitoring/config/alloy/staging-ap-vm.alloy
  monitoring/config/alloy/staging-db-vm.alloy
  monitoring/config/grafana/grafana.ini
  monitoring/config/grafana/provisioning/dashboards/dashboards.yml
  monitoring/config/grafana/provisioning/datasources/datasources.yml
  monitoring/config/loki/limits.yml
  monitoring/config/loki/loki-config.yml
  monitoring/config/prometheus/alerts/basic-alerts.yml
  monitoring/config/prometheus/prometheus.yml
  monitoring/config/prometheus/recording-rules/aggregations.yml
  monitoring/docker-compose.monitoring.yml
  monitoring/scripts/backup-dashboards.sh
  monitoring/scripts/backup-metrics.sh
  monitoring/scripts/restore-monitoring.sh
  monitoring/tests/integration-test.sh
  monitoring/tests/test-monitoring-stack.sh
Due: none

refactor(monitoring): simplify GitHub Actions workflow for self-hosted runner
  .github/workflows/deploy-monitoring-stack.yml
  monitoring/GITHUB_DEPLOYMENT.md
Due: none

feat(monitoring): add Grafana nginx reverse proxy and SSH port 8822 support
  .github/workflows/deploy-monitoring-stack.yml
  monitoring/GITHUB_DEPLOYMENT.md
  monitoring/config/grafana/grafana.ini
  nginx/nginx.staging.conf
Due: none

feat(monitoring): complete Grafana dashboard provisioning and datasources
  monitoring/DASHBOARDS.md
  monitoring/config/grafana/provisioning/dashboards/application/nginx-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/default/scholarship-system-overview.json
  monitoring/config/grafana/provisioning/dashboards/system/node-exporter-system.json
  monitoring/config/grafana/provisioning/datasources/datasources.yml
  monitoring/scripts/download-community-dashboards.sh
Due: none

fix(security): resolve critical security issues in monitoring infrastructure
  .github/workflows/deploy-monitoring-stack.yml
  monitoring/GITHUB_DEPLOYMENT.md
  monitoring/config/grafana/grafana.ini
  monitoring/docker-compose.monitoring.yml
  nginx/nginx.staging.conf
Due: none

refactor(ci): simplify monitoring deployment workflow by removing .env file
  .github/workflows/deploy-monitoring-stack.yml
Due: none

fix(monitoring): resolve port 3000 conflict between Grafana and Next.js
  .github/workflows/deploy-monitoring-stack.yml
  monitoring/docker-compose.monitoring.yml
Due: none

feat(monitoring): add Docker image packaging for air-gapped DB-VM deployment
  .github/workflows/deploy-monitoring-stack.yml
Due: none

fix(monitoring): remove redis-exporter from DB-VM (Redis is on AP-VM)
  .github/workflows/deploy-monitoring-stack.yml
  docker-compose.staging-db.yml
Due: none

refactor: migrate scholarship components to use useScholarshipData SWR hook
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/distribution-results-panel.tsx
  frontend/components/examples/scholarship-data-example.tsx
  frontend/docs/SCHOLARSHIP_DATA_QUICKSTART.md
  frontend/docs/use-scholarship-data.md
  frontend/hooks/__tests__/use-scholarship-data.test.tsx
  frontend/hooks/use-reference-data.ts
  frontend/hooks/use-scholarship-data.ts
  frontend/jest.config.js
Due: npm-lint, npm-test

fix: close ApplicationReviewDialog when deleting application
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: npm-lint, npm-test

fix: resolve matrix distribution issues - priority, re-distribution, and backup display
  backend/alembic/versions/cd2d48ec6d34_add_backup_allocations_to_ranking_items.py
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/models/college_review.py
  backend/app/services/matrix_distribution.py
Due: pytest-quick, pytest-coverage

chore: remove Gemini AI workflow files
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Due: none

db: add migration to seed reference tables for degree types
  backend/alembic/versions/6d5b1940bf8a_seed_reference_tables_degrees_.py
Due: pytest-quick, pytest-coverage

feat: add PermissionStatusPanel component for college management
  frontend/components/college/PermissionStatusPanel.tsx
Due: npm-lint, npm-test

feat: add restore application functionality
  backend/app/api/v1/endpoints/applications.py
  backend/app/services/application_service.py
Due: pytest-quick, pytest-coverage

refactor: enhance college review endpoints
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/college_review/utilities.py
Due: pytest-quick, pytest-coverage

refactor: migrate frontend components to useScholarshipData hook
  frontend/components/batch-application-file-upload.tsx
  frontend/components/college/CollegeManagementShell.tsx
  frontend/components/distribution-results-panel.tsx
  frontend/contexts/college-management-context.tsx
  frontend/lib/api.legacy.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/applications.ts
Due: npm-lint, npm-test

chore: update docker manager script
  docker-manager.sh
Due: none

test: update test results
  frontend/junit.xml
Due: none

fix: add checks for backup_allocations column in migration
  backend/alembic/versions/cd2d48ec6d34_add_backup_allocations_to_ranking_items.py
Due: pytest-quick, pytest-coverage

fix: resolve TypeScript compilation errors
  frontend/components/batch-application-file-upload.tsx
  frontend/components/college/PermissionStatusPanel.tsx
  frontend/components/examples/scholarship-data-example.tsx
  frontend/lib/api/modules/college.ts
Due: npm-lint, npm-test

fix: eliminate CodeQL false positives through taint flow breaking + API dismissal
  .github/workflows/codeql.yml
  .github/workflows/mirror-to-production.yml
  backend/app/api/v1/endpoints/admin/bank_verification.py
  backend/app/api/v1/endpoints/admin/configurations.py
  backend/app/api/v1/endpoints/admin/dashboard.py
  backend/app/api/v1/endpoints/admin/scholarships.py
  backend/app/api/v1/endpoints/user_profiles.py
  backend/app/db/seed_system_settings.py
  backend/app/models/application.py
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  backend/app/services/bulk_approval_service.py
  backend/app/services/college_review_service.py
  backend/app/services/config_management_service.py
  backend/app/services/eligibility_service.py
  backend/app/services/quota_service.py
  backend/app/tests/test_bulk_approval_service_unit.py
  backend/app/utils/i18n.py
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/admin/history/HistoryPanel.tsx
  frontend/components/college-dashboard.tsx
  frontend/components/college-ranking-table.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/distribution-results-panel.tsx
  frontend/components/enhanced-admin-dashboard.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/professor-review-component.tsx
  frontend/components/reviewer-dashboard.tsx
  frontend/lib/api.legacy.ts
  frontend/lib/enums.ts
  frontend/lib/i18n.ts
  frontend/lib/utils.ts
  frontend/lib/utils/application-helpers.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

fix: add table existence checks to college_reviews migration
  backend/alembic/versions/d5e18b9d8e3a_add_cascade_delete_to_college_reviews.py
  backend/app/services/college_review_service.py
Due: pytest-quick, pytest-coverage

fix: add table existence checks to two more college_reviews migrations
  backend/alembic/versions/25101514470356be_force_cascade_college_reviews.py
  backend/alembic/versions/adcbec818138_remove_all_scoring_fields_and_clarify_.py
Due: pytest-quick, pytest-coverage

fix: add column existence check to review_stage migration
  backend/alembic/versions/20251028_add_review_stage_to_applications.py
Due: pytest-quick, pytest-coverage

fix: make alembic migrations idempotent with existence checks
  backend/alembic/versions/20251028_cleanup_application_status_enum.py
  backend/alembic/versions/20251028_drop_college_reviews_table.py
  backend/alembic/versions/20251028_remove_college_review_dependency.py
Due: pytest-quick, pytest-coverage

refactor: remove deprecated application statuses from frontend
  frontend/components/admin-dashboard.tsx
  frontend/components/admin/history/HistoryPanel.tsx
  frontend/components/college-dashboard.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/lib/utils/application-helpers.ts
Due: npm-lint, npm-test

fix: remove deprecated statistics endpoint and fix Next.js 15 route params
  frontend/app/api/v1/scholarships/[type]/upload-terms/route.ts
  frontend/lib/api.legacy.ts
  frontend/lib/api/__tests__/modular-api.test.ts
  frontend/lib/api/modules/college.ts
Due: npm-lint, npm-test

refactor: standardize application status handling across services
  backend/app/services/college_review_service.py
  backend/app/services/matrix_distribution.py
  backend/app/services/scholarship_service.py
  frontend/components/admin/history/HistoryPanel.tsx
  frontend/components/application-detail-dialog.tsx
  frontend/components/college-dashboard.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/lib/enums.ts
  frontend/lib/utils/__tests__/application-helpers.test.ts
  frontend/lib/utils/application-helpers.ts
Due: pytest-quick, pytest-coverage, npm-lint, npm-test

fix: resolve import errors and use correct quota allocation status field
  Makefile
  backend/app/api/v1/endpoints/admin/rules.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
Due: pytest-quick, pytest-coverage

Potential fix for code scanning alert no. 203: Regular expression injection
  backend/app/core/regex_validator.py
Due: pytest-quick, pytest-coverage

fix: enhance required indicator visibility for bank account cover photo upload
  frontend/components/dynamic-application-form.tsx
Due: npm-lint, npm-test

docs: simplify initialization workflow with make init-all
  Makefile
  README.md
Due: none

fix: remove invalid COPY instruction from backend Dockerfile
  backend/Dockerfile
Due: none

fix: improve roster error recovery mechanism to prevent PROCESSING state lockup
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/services/roster_service.py
Due: pytest-quick, pytest-coverage

fix: ensure roster items always created to maintain consistency
  backend/app/services/roster_service.py
Due: pytest-quick, pytest-coverage

fix: add SSL verification configuration for Portal SSO
  backend/app/core/config.py
  backend/app/services/portal_sso_service.py
  docker-compose.prod.yml
  docker-compose.staging.yml
Due: pytest-quick, pytest-coverage

Change runner from 'jotp' to 'scholarship'
  .github/workflows/tunnel.yml
Due: none

Path conditions:
  pytest-quick: any of: ^backend/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  pytest-coverage: any of: ^backend/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  npm-lint: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
  npm-test: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$)
